#-----------------------------------------------------------------------------------------------------------------------
# Package manager
#-----------------------------------------------------------------------------------------------------------------------

/.pnp.*
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions

/node_modules

#-----------------------------------------------------------------------------------------------------------------------
# Temporary build files
#-----------------------------------------------------------------------------------------------------------------------

/.launchpad/.tsbuildinfo.tmp
/build
/dist/*.js*
/resources/tsconfig/tsconfig.*.json
