<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>__PROJECT_NAME__</title>
        <link href="index.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div style="font-family: Consolas">
            <div style="font-family: sans-serif">
                Hello world!
            </div>
        </div>
    </body>
</html>

<script src="__JAVASCRIPT__" charset="utf-8" type="text/javascript">
