#-----------------------------------------------------------------------------------------------------------------------
# This file is overwritten when performing a launchpad uplift or init
#-----------------------------------------------------------------------------------------------------------------------

LP_SETTINGS_VERSION           = 0.0.0
LP_SETTINGS_PROJECT_NAME      = launchpad

LP_SETTINGS_ARTIFACT          = app                   # app, lib
LP_SETTINGS_RUNTIME           = cli                   # cli, node, ts-node, web
LP_SETTINGS_MODULE_SYSTEM     = esm                   # cjs, esm

LP_SETTINGS_BUNDLER           = esbuild               # disabled, esbuild
LP_SETTINGS_DTS_BUNDLER       = dts-bundle-generator  # disabled, dts-bundle-generator
LP_SETTINGS_FORMATTER         = prettier              # disabled, prettier
LP_SETTINGS_PACKAGE_MANAGER   = yarn                  # npm, pnpm, yarn
LP_SETTINGS_INSTALLATION_MODE = global-no-update      # global-auto-update, global-no-update, local, no-install

LP_SETTINGS_SRC_DIR           = src                   # mandatory
LP_SETTINGS_WEB_APP_DIR       = n/a
LP_SETTINGS_TSC_OUT_DIR       = build                 # mandatory unless building a non-bundle app for ts-node
LP_SETTINGS_BUNDLER_OUT_DIR   = dist
